{% extends "base.html" %}

{% block title %}VEC Quiz App{% endblock %}
{% block bodyContent %}

    {% for message in get_flashed_messages() %}

        {% if message == "Register Successful!" %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="ModelBox shadow-lg p-3 mb-5 rounded-3">
        <h3>Student Login</h3>
        <form action="{{ url_for('main.login') }}" method="POST">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="studName" id="floatingInput" placeholder="Your Name" required>
                <label for="floatingInput">Username</label>
              </div>              
              <div class="form-floating mb-3">
                <input type="password" name="studPass" class="form-control" id="floatingInput" placeholder="password" required>
                <label for="floatingInput">Password</label>
              </div>    
            <button type="submit" class="btn btn-lg btn-success">Login</button>
        </form>
        <a href="{{ url_for('main.signup') }}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover loginLinks ">Don't have a account? Sign up here </a><br>
        <a href="{{ url_for('main.reset_request') }}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover loginLinks "> Forgot your password?</a><br>
    </div>
    
{% endblock %}
