{% extends "base.html" %}

{% block title %}{{testCode}} Test{% endblock %}

{% block bodyContent %}


<div>
  <iframe src="../static/audios/silence.mp3" allow="autoplay" id="audio" style="display: none"></iframe>
  <audio controls id="player" autoplay>
    <source src="../static/audios/{{audio}}"> 
  </audio>
</div>

<div class="progress" role="progressbar" aria-label="Success example"    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar bg-success" style="width: 100%"></div>
</div>

<div class="d-flex justify-content-end float-end">
  <span id="counter"></span>
</div>

<div>
    <form action="" method="POST" id="Quiz">
    {% for i in testDetails %}
      <div>
          <div class="form-control">
            <p>{{i['question_no']}}. {{i['question']}}</p><br>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="option-{{i['question_no']}}" id="flexRadioDefault1" value="{{i['choice1']}}">
              <label class="form-check-label" for="flexRadioDefault1">
                {{i['choice1']}}
              </label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="option-{{i['question_no']}}" id="flexRadioDefault1" value="{{i['choice2']}}">
              <label class="form-check-label" for="flexRadioDefault1">
                {{i['choice2']}}
              </label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="option-{{i['question_no']}}" id="flexRadioDefault1" value="{{i['choice3']}}">
              <label class="form-check-label" for="flexRadioDefault1">
                {{i['choice3']}}
              </label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" name="option-{{i['question_no']}}" id="flexRadioDefault1" value="{{i['choice4']}}">
              <label class="form-check-label" for="flexRadioDefault1">
                {{i['choice4']}}
              </label>
          </div>
          <br>
      </div>
    {% endfor %}
    <div class="d-flex justify-content-between">
      <button type="submit" value="Submit" id="sumbitButton" class="btn btn-lg btn-success">Submit</button>
    </div>
    </form>
</div>

{% block customJS %}
<!-- <script src="../static/quiz.js"></script> -->
<script>
  function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    var counter = setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            timer = duration;
            function enable_disable(){
                // not("#sumbitButton")
                $("#Quiz :input").prop("disabled",true);
            };
            enable_disable();
            clearInterval(counter);
            alert("Time Up!")
        }

        if(minutes < 1){
            display.style.color = 'red'
        }
    }, 1000);
}


function progressBar(minutes){
    value = minutes;
    var progress = setInterval(function(){
        value--;
        document.querySelector(".progress-bar").style.width= `${value}%`;
        if(document.querySelector(".progress-bar").style.width == "10%"){
            document.querySelector(".progress-bar").classList.remove("bg-success");
            document.querySelector(".progress-bar").classList.add("bg-danger");
        }
    },1000);
    if (value <= 0){
        clearInterval(progress);
    }
}

window.onload = function () {
  var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
  if (!isChrome){
      $('#iframeAudio').remove()
  }
  else {
      $('#playAudio').remove() // just to make sure that it will not have 2x audio in the background 
  }
    var fiveMinutes = 60 * parseFloat("{{time}}");
    display = document.getElementById('counter');
    startTimer(fiveMinutes, display);
    progressBar(fiveMinutes);
};
</script>
{% endblock %}

{% endblock %}