@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.Navbar{
    background-color: #F9F9F9;
    overflow: hidden;
    box-shadow: 2px 2px 4px black;
}

.Navbar a{
    float: right;
    display: block;
    background-color: #F5811F;
    text-decoration: none;
    padding: 14px 16px;
    color: white;
    font-size: 20px;
    margin: 10px;
    border-radius: 25px;
    transition: .5s;
}


.Navbar a:hover {
    background-color: #FFC905;
    color: black;
    border: .5px solid black;
  }

.logintext{
    margin: 10px;
    text-align: center;
}

.loginBox{
    padding: 12px;
    width: 30%;
    height: 50%;
    background-color: #daf3ff;
    margin: 180px auto;
    border: 1px transparent;
    border-radius: 20px;
    text-align: center;
    
}


.loginForm label{
    padding: 5px;
    margin-top: 15px;
    font-weight: 500;
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
}
.loginForm input{
    outline: none;
    padding: 7px;
    border:1px solid grey;
    border-radius: 5px;
    width: 250px;
}
.btn{
    margin-bottom: 10px;
}

