@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-link{
    background-color: #F5811F;
    color: white;
    padding: 16px 14px;
    font-size: 20px;
    border-radius: 25px;
    margin: 6px;
    text-align: center;
}

.nav-link:hover{
    background-color: #FFC905;
    color: black;
    border: .5px solid black;
}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
    align-content: center; 
}


.ModelBox{
    padding: 25px;
    width: 40%;
    height: 70%;
    background-color: white;
    margin: 140px auto;
    border: 1px transparent;
    border-radius: 25px;
    text-align: center;
}

.ModelBox form{
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .ModelBox{
        width: 65%;
        margin: 75px auto;
    }
    .navbar-brand img{
        width: 280px;
    }
}