{% extends "admin/base.html" %}
{% block title %}Add Questions{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="/app/static/quiz.css">
{% endblock %}
{% block bodyContent %}

<div class="container-lg">
    <!-- action='{{ url_for("admin.get_test_code") }}' -->
    <form method="POST" enctype="multipart/form-data">
        <br>
        <div>
            <p>Suggestion : <span class="badge text-bg-light" style="font-size: 25px;">{{testCode}}</span></p>
        </div>
        {{ form.hidden_tag() }}
        {{ form.test_code.label(class="form-label") }}
        {{ form.test_code(class="form-control mb-3",autocomplete="off") }}
        {{ form.audio_file.label(class="form-label") }}
        {{ form.audio_file(class="form-control mb-3",accept='audio/*') }}     
        <div class="d-flex justify-content-center">
            {{form.submit(class="btn btn-success")}}
        </div>
    </form>
</div>

{% endblock %}