{% extends "admin/base.html" %}
{% block title %}Add Questions{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static',filename='quiz.css') }}">
{% endblock %}
{% block bodyContent %}

<div class="container-lg">
    {% for message in get_flashed_messages() %}
    {% if message == "Questions added!" %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <form method="POST" enctype="multipart/form-data">
        <br>
        <div>
            <p>Suggestion : <span class="badge text-bg-light" style="font-size: 25px;">{{testCode}}</span></p>
        </div><br>
        {{ form.hidden_tag() }}
        
        {{ form.test_code.label(class="form-label") }}
        {{ form.test_code(class="form-control mb-3",autocomplete="off") }}
        
        {{ form.time.label(class="form-label") }}
        {{ form.time(class="form-control mb-3",step=5) }}

        {{ form.lab_session.label(class="form-label") }}
        {{ form.lab_session(class="form-control mb-3") }}
        
        {{ form.audio_no.label(class="form-label") }}
        {{ form.audio_no(class="form-control mb-3") }}

        {{ form.audio_file.label(class="form-label") }}
        {{ form.audio_file(class="form-control mb-3",accept='audio/*') }}
        
        {{ form.questions_file.label(class="form-label") }}
        {{ form.questions_file(class="form-control mb-3",accept='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet') }}
        
        <div class="d-flex justify-content-center">
            {{form.submit(class="btn btn-success")}}
        </div>
    </form>
</div>

{% endblock %}