{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}
{% block bodyContent %}
    <br>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <!-- <div class="loginBox shadow-lg p-3 mb-5 bg-body rounded">
        <legend>Reset Password</legend>
        <form action="/password_reset/{{userId}}" method="POST">
            <div class="loginForm">
            <label for="passwd">New Password</label>
            <input type="password" name="newPass" id="passwd" required placeholder="New password">
            <label for="passwd">Confirm Password</label>
            <input type="password" name="newRePass" id="passwd" required placeholder="Confirm password">
            <input type="submit" value="Reset Password" class="btn-lg-danger">
            </div>
        </form>
    </div> -->
    <div class="ModelBox shadow-lg p-3 mb-5 rounded-3">
        <h3>Reset Password</h3>
        <form action="{{ url_for('admin.reset_password',userId=userId)}}" method="POST">
            <div class="form-floating mb-3">
                <label for="floatingInput">Password</label>
                <input type="password" class="form-control" name="newPass" id="floatingInput" placeholder="Your Name" required>
              </div><br>              
              <div class="form-floating mb-3">
                <label for="floatingInput">Confirm Password</label>
                <input type="password" name="newRePass" class="form-control" id="floatingInput" placeholder="password" required>
              </div><br>
            <button type="submit" class="btn btn-lg btn-danger">Reset</button>
        </form>
    </div>
{% endblock %}