<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test report</title>
    <!-- BootStrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- AJAX -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <!-- BootStrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{{ url_for('static',filename='reports.css') }}">    
</head>
<body>
    <div class="mt-5">
        <div class="position-absolute top-10 start-50 translate-middle shadow-lg p-3 mb-5 bg-body-tertiary rounded " style="max-width: 35rem; max-height: 45rem;">
            <form action="{{ url_for('admin.show_report') }}" method="POST" id="reportForm" class="row g-3 mt-2">
                <div class="col-md-4">
                    <input id="test-code" name="test_code" type="text" autocomplete="off" class="form-control" required placeholder="Test Code">
                </div>
                <div class="col-md-4">
                    <select name="dept" id="dept" class="form-control" required aria-placeholder="Select Department">
                        <option selected disabled>Select Department</option>
                        <option value="CSE">CSE</option>
                        <option value="IT">IT</option>
                        <option value="AI-DS">AI-DS</option>
                        <option value="AUTO">AUTOMOBILE</option>
                        <option value="CIVIL">CIVIL</option>
                        <option value="MECH">MECH</option>
                        <option value="EEE">EEE</option>
                        <option value="ECE">ECE</option>
                        <option value="EIE">EIE</option>
                        <option value="CSE-CS">CYBER-SECURITY</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select name="class" id="class" required class="form-control" aria-placeholder="Select Class">
                        <option selected disabled>Select Class</option>
                    </select>
                </div>
                <div class="d-flex justify-content-evenly">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </form>
        </div>
    </div>
 
    <h1 class="heading">{{testCode}} Summary report for {{Class}}</h1>
    <div class="report-table">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                    <th>Percentage</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for i in result %}
                <tr>
                    <td>{{i['name']}}</td>
                    <td>{{i['score']}}</td>
                    <td><b>{{i['percentage']}}%</b></td>
                    <td>{{i['status']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <div class="d-flex justify-content-between" >
            <a href="{{ url_for('admin.dashboard') }}" class="btn btn-info"  id="dashButton">Go to Dashboard</a>
            <a href="{{ url_for('admin.download',testCode=testCode,Class=Class) }}" class="btn btn-success" id="downloadButton">Download report</a>
        </div>
    </div>
    

    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="{{ url_for('static',filename='reports.js') }}"></script>
</body>
</html>