<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Details</title>
    <!-- {{ url_for('static',filename='studDashboard.css') }} -->
    <link rel="stylesheet" href="/src/static/studDashboard.css"> 
</head>
<body>
    <div class="sidebar">
       <h1>Test Codes</h1>
       <a href="#">7S05G1K6</a>
       <a href="#">7S05G1K6</a>
       
    </div>
    <div class="content">
        <div class="audio-container">
            <h3 id="test_code">Test Code:</h3>
            <h3 id="audio_name">Audio Name:</h3>
            <button>Edit</button>
        </div>
        <div class="questions-box">
            <div class="question-details">
                <h3>question-no:</h3>
                <h3>question:</h3>
                <h3>choice 1:</h3>
                <h3>choice 2:</h3>
                <h3>choice 3:</h3>
                <h3>choice 4:</h3>
                <h3>correct answer:</h3>
            </div>
        </div>
    </div>
</body>
</html> 