.sidebar {
    height: 100%; 
    width: 230px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #8ECDDD; 
    overflow-x: hidden; 
  
}
body{
    background-color: #F4F7FD;
    font-family:'Montserrat', sans-serif;
}
.sidebar a {
    display: block;
    color: black;
    background-color: whitesmoke;
    border-radius: 40px 0px 0px 40px;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    text-align: center;
}

.sidebar a.active {
    background-color: #22668D;
    border-radius: 40px 0px 0px 40px;
    color: white;
    
}

.sidebar a:hover:not(.active) {
    background-color: #22668D;
    color: white;
    transition: width 2s;
}

.studName{
    color: white;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    line-height: normal;
    float: auto;
    margin: 10px;
}


#testCode{
    margin: 15px;
    outline: none;
    width: 110px;
    display: block;
    margin-left: 50px;
    padding:12px;
    border: 3px solid #22668D;
    border-radius: 10px;
    font-size: 15px;
}

.studBanner{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.studBanner img{

    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.studBanner::after {
    content: "";
    clear: both;
    display: table;
}

div.content {
    margin-top: 60px;
    margin-left: 250px;
    padding: 0px 10px;
    /* height: 1000px; */
}

.prevResults{
    width: 60%;
    height: 100%;
    padding: 15px;
    background-color:#EF786B;
    border-radius: 10px;
}

























@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }