.sidebar {
    height: 100%; 
    width: 230px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    /* background-color: #8ECDDD;  */
    /* background-color: #42bb82; */
    background-color: #176B87;
    overflow-x: hidden; 
  
}
body{
    background-color: #F4F7FD;
    font-family:'Montserrat', sans-serif;
}
.sidebar a:not(.btn) {
    display: block;
    color: black;
    background-color: whitesmoke;
    border-radius: 30px 0px 0px 30px;
    padding: 20px;
    /* margin: 20px; */
    margin: 20px 5px 20px 15px;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}

.sidebar a.active {
    /* background-color: #22668D; */
    background-color: #64CCC5;
    /* border-radius: 40px 0px 0px 40px; */
    color: white;
    font-weight: 600;

}

.sidebar a:hover:not(.active) {
    /* background-color: #22668D; */
    background-color: #64CCC5;
    color: white;
    font-weight: 600;
    transition: width 2s;
}


.btn{
    margin: 20px 5px 20px 15px;
}


.studName{
    color: white;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    line-height: normal;
    float: auto;
    margin: 10px;
    font-weight: bolder;
}


#testCode{
    margin: 15px;
    outline: none;
    width: 110px;
    display: block;
    margin-left: 50px;
    padding:12px;
    border: 3px solid #22668D;
    border-radius: 10px;
    font-size: 15px;
}

#testButton{
    margin-right: 30px;
}

.studBanner{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.studBanner img{

    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.studBanner::after {
    content: "";
    clear: both;
    display: table;
}

div.content {
    margin-top: 60px;
    margin-left: 250px;
    padding: 0px 10px;
    /* height: 1000px; */
    /* margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; */
}

.prevResults{
    width: 60%;
    height: 100%;
    padding: 15px;
    background-color:#EF786B;
    border-radius: 10px;
}

.edit-profile{
    padding: 25px;
    width: 60%;
    height: 70%;
    background-color: white;
    margin: 30px auto;
    border: 1px transparent;
    border-radius: 25px;
    text-align: center;
}

.edit-profile form{
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .edit-profile{
        width: 65%;
        margin: 75px auto;
    }
}