{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}
{% block bodyContent %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <legend>Reset Password</legend>
    <form action="/password_reset/{{userId}}" method="POST">
        <label for="passwd">New Password</label>
        <input type="password" name="newPass" id="passwd">
        <label for="passwd">Confirm Password</label>
        <input type="password" name="newRePass" id="passwd">
        <input type="submit" value="Reset Password" class="btn-lg-danger">
    </form>
{% endblock %}