{% extends "base.html" %}
{% block title %}VEC Quiz App{% endblock %}

{% block bodyContent %}
    {% for message in get_flashed_messages() %}
        {% if message == "Register Successfull" %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div class="ModelBox shadow-lg p-3 mb-5 rounded-3">
        <h3>Sign up for VEC Quiz App</h3>
        <form action="{{ url_for('main.signup') }}" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="studName" placeholder="Your Name" required>
                <label for="floatingInput">Username</label>
              </div>              
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="studClass" placeholder="Class & sec" required>
                <label for="floatingInput">Class & Sec</label>
              </div>    
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="studRegno" placeholder="Reg no" required>
                <label for="floatingInput">Registeration Number</label>
              </div>    
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" name="studEmail" placeholder="Email address" required>
                <label for="floatingInput">Email Address</label>
              </div>    
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" name="studPass" placeholder="password" required>
                <label for="floatingInput">Password</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" name="studRePass" placeholder="password" required>
                <label for="floatingInput">Confirm Password</label>
              </div>    
            <button type="submit" class="btn btn-lg btn-primary">Register</button>
        </form>
        <a href="{{ url_for('main.login') }}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover loginLinks ">Already have a account? Login here</a><br>
    </div>
{% endblock %}